@model IEnumerable<string>

@*Menu action method of the Nav controller*@

<div class="btn-group btn-group-sm btn-group-justified">
    @Html.ActionLink("Home",
        "List",
        "Product",
        null,
        new {@class="btn btn-default btn-sm"})

    @foreach (var cate in Model)
    {
        @Html.RouteLink(cate, new
           {
               controller ="Product",
               action = "List",
               category = cate,
               Page = 1

           },new
           {
               @class ="btn btn-default btn-sm"
                       + (cate == ViewBag.SelectedCategory ? " btn-primary" : "")
           })


    }

</div>
