@using SportsStore.Domain.Entities
@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
}


@foreach (var p in Model) {
    <div>
        <h3>
            @if (p.Name != null)
            {
                @p.Name
            }
        </h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}